:root {
    --primary-color: #FCE172;
    --secondary-color: #134266;
    --accent1-color: #e94f37;
    --accent2-color: #f6f7eb;
    --accent3-color: #78C5D7;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }



header {
    display: flex;
    background-color: var(--primary-color);
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    align-content: space-between;
    
    
    
    
}
h1{
    color: var(--secondary-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--primary-color);
    font-size: 50px;
}

header img {
    height: 100px;


}

a {
    border-right: 1px var(--secondary-color);
    background-color: #134266;
    padding: 39px 20px 39px 20px;
    
    text-decoration: none;
    color: white ;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    
}

h2 {
    font-weight: 100;
    color:white;
  
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
    }


.hero img {
    display: block;
    width: 200px;
    height: auto;
    margin: 10px 0px 10px 10px;

}

div {
    background-image: url(../images/hero_transparency_1024.jpg);
    padding-bottom: 100px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;


}

article {
    background-color: var(--secondary-color);
    display: flex;
    margin: 20px 50px 30px 50px;
    opacity: 0.9;
    padding: 35px;
    border: black solid 1px;
    border-radius: 10px;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    color: white;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    

}

section {
    background-color: var(--secondary-color);
    border: #9E9E9E groove;
    margin: 30px 50px 30px 50px;
    padding: 15px;
    border-radius: 10px;
    color: white;
}

section p{
    display: flex;

}

#showcaseimgs img{
    background-color: var(--accent1-color);
    display: inline;
    margin: 10px 10px 30px 20px;
    opacity: 0.9;
    padding: 2px;
    border: black solid 1px;
    border-radius: 2px;
    width: 300px;
 
}

footer {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-top: black 3px solid;
}

footer p{
padding-right: 300px;
text-align: center;
}
footer img {
    padding-left: 10px;
    left: 30px;
}