.callout {
max-width: 400px;
margin: 10px;
border:1px solid rgba(0,0,0,.1);
padding: 15px;
background-color: rgb(34, 119, 38);	
color: #ffffff;
}

.callout img {
float: right;
margin: 0 0 10px 15px;
border: 1px solid #c50f0f;
padding: 3px;
background-color: #b5c714;
width: 100px;
height: auto;
}

blockquote {
margin: 0
;	
}

cite {
	display: block;
    border-top: 1px dotted #fff;
    padding-top: 3px;
    text-align: right;
    font-size: smaller;
}