nav{
   
    background-color: rgb(205, 81, 168);
    padding: 10px;
}

a{
    color: white;
    block-size: 5;
}

h1{
    color: rgb(205, 81, 168);
    padding: 10px;
}

img {
    width: 200;
    height: auto;
    border: 7px solid rgb(205, 81, 168);
    padding: 10px;
    box-shadow: 0 0 35px gray;
    margin: 8px;

}

p{
    padding: 10px;
    color: rgb(205, 81, 168);
}

section {
    width: 600px;
}
