nav{
    background-image: linear-gradient(to right, rgba(255,0,0,1),rgba(255,0,0,0));padding: 10px;
}

nav a {
    color:white;
    display: block;
    padding: 20px;
}

h1{
    animation-name: fadeInOut, moveLeft300px, bounce;
    animation-duration: 2.5s, 5s, 1s;
    animation-iteration-count: 2, 1, 5;
    color: rgb(235, 14, 21);
    text-align: center;
}

img{
    width: 150px;
    height: auto;
    border: 1px solid rgb(164, 201, 69);
    padding: 2px;
    box-shadow: 0 0 30px gray;
} 

h1 {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }

  
p  { 
    padding: 10px;
}

main{
    max-width: 840px;
}
aside{
    width: 12rem;
    margin: 2rem;
    border: 1px solid rgba (0,0,0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}